{% extends 'base.html.twig' %}

{% block title %}Mon profil!{% endblock %}

{% block body %}
    <div class="modifprofil">

        {{ form_start(monProfilForm) }}
        {{ form_widget(monProfilForm) }}
        <div class="btn_delete">
            <button> Enregistrer</button>
            <button> Annuler</button>
        </div>
        {{ form_end(monProfilForm) }}
    </div>
{% endblock %}
